- @title = "#{@user.name} :: Edit"

.update_gravatar.gravatar
  %a{ :href=>"http://gravatar.com/emails", :target=>:_blank }
    = image_tag gravatar_url(@user), :alt=>"#{@user.name} Gravatar"
    %br
    Change

= form_for(@user) do |f|
  = render 'shared/errors', :obj=>f.object
  %dl.form
    %dt= f.label( :name )
    %dd= f.text_field( :name )
    %dt= f.label( :email )
    %dd= f.text_field( :email )
    %dt= f.label( :password )
    %dd= f.password_field( :password )
    %dt= f.label( :password_confirmation, "Confirm Password" )
    %dd= f.password_field( :password_confirmation )
  .actions
    = f.submit( "Update" )
