- @title = "Home"

- if !signed_in?
  %p This is the home page for the <a href="http://railstutorial.org/" target="rails_tutorial">Ruby on Rails Tutorial</a> sample app.
  %p.centered
    = link_to "Sign up now!", signup_path, :class=>"button_call_to_action round"
- else
  .clearfix
    %section.user_info
      = render 'shared/user_info', :user=>current_user
    %section.micropost_form
      = render 'shared/micropost_form'
  - if !@feed_items.empty?
    %section.feed
      %ul
        = render :partial=>'shared/feed_item', :collection=>@feed_items
      = will_paginate @feed_items
    
