!!!
%html
  %head
    %title #{title} 
    = stylesheet_link_tag "main"
    
    /[if lt IE 9]
      = javascript_include_tag "vendor/html5"
    
    = csrf_meta_tag
  %body
    .container
      %header
        = link_to '#', :class=>"logo round" do
          = image_tag "logo.png", :alt=>"Rails Sample App"
        %nav.round
          %ul
            %li #{link_to "Home", "#"}
            %li #{link_to "Help", "#"}
            %li #{link_to "Sign In", "#"}
      %section.round
        %h1 #{@title}
        = yield