!!!
%html
  %head
    %title #{title}
    = render "layouts/stylesheets"
    
    = javascript_include_tag "jquery"
    = javascript_include_tag "rails"
    /[if lt IE 9]
      = javascript_include_tag "vendor/html5"
    
    = csrf_meta_tag
  %body
    .container
      = render "layouts/header"
      %section
        - unless flash.empty?
          %section.flash#GlobalFlash
            %ul
              - flash.each do |k,message|
                %li.message{ :class=>k }= message
        %h1 #{@title}
        = yield
      = render "layouts/footer"
    - if Rails.env.development?
      %section.debug
        = debug(params)
        