!!!
%html
  %head
    %title #{title} 
    = stylesheet_link_tag "main"
    
    /[if lt IE 9]
      = javascript_include_tag "vendor/html5"
    
    = csrf_meta_tag
  %body
    = yield
    %section
      This is a section