!!!
%html
  %head
    %title #{title}
    = render "layouts/stylesheets"
    
    /[if lt IE 9]
      = javascript_include_tag "vendor/html5"
    
    = csrf_meta_tag
  %body
    .container
      = render "layouts/header"
      %section
        %h1 #{@title}
        = yield
      = render "layouts/footer"